@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300,400,400i,700');
@import 'variables';

@import "node_modules/bootstrap/scss/bootstrap";

body, main, footer {
    overflow-x:hidden !important;
}

.fixed-top + main {
    margin-top:$nav-link-height + ($navbar-padding-y * 2);
}

.btn {
    font-family:$headings-font-family;
}

footer {
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    z-index:101;
}

#secondaryText {
    opacity:0;
    transition: opacity 300ms ease-in-out;
}

.jumbotron {
    background-color: transparent;
    &:first-of-type {
        height:50vh;
        position:relative;
        img {
            position:fixed;
            z-index:100;
            max-width:450px;
            left:0;
            right:0;
            top:$jumbotron-padding;
            margin:0 $jumbotron-padding;
        }
        .fixed-image-bg {
            background-image: url('../assets/images/bg-01.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: -260px 42px;
            z-index:-1;
            position:fixed;
            left:0;
            right:0;
            top:0;
            height:89vh;
            &:after {
                content:'';
                position:absolute;
                top:calc(100% - 15px);
                left:0;
                right:0;
                height:calc(25vh + 18px);
                @include gradient-y(transparent, $primary, 0%, 15px);
            }
        }
        .container {
            padding-top:50px;
        }
        .gradient-fade {

            z-index:99;
            position:fixed;
            left:0;
            right:0;
            top:0;
            bottom:0;
            &:after {
                position:absolute;
                left:0;
                right:0;
                top:0;
                height:140px;
                // background-color:#8BB9DB;
                @include gradient-y(rgb(139, 185, 219), rgba(139, 185, 219, 0), 50%, 100%);
                content:'';
            }
        }
        .header {
            margin-top:15px;
            max-width:75%;
            font-style:italic;
        }
    }
    &.second-section {
        position:relative;
        height:calc(100vh - 154px);
        background-color:transparentize($primary, 0.3);
        // &:before {
        //     background-color:transparentize($primary, 0.3);
        //     -webkit-mask-image: url('../assets/images/bg-02-mask.svg');
        //     -webkit-mask-repeat: no-repeat;
        //     -webkit-mask-position:center bottom;
        //     -webkit-mask-size:contain;
        //     height:300px;
        //     left:-1px;
        //     right:-1px;
        //     bottom:100%;
        //     position:absolute;
        //     content:'';
        // }
    }
}
.mask-transition {
    background-color:transparentize($primary, 0.3);
    -webkit-mask-image: url('../assets/images/bg-02-mask.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position:center bottom;
    -webkit-mask-size:contain;
    height:154px;
}


@media(min-height:600px) {
    .jumbotron {
        &:first-of-type {
            .fixed-image-bg {
                background-position: -325px 42px;
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .fixed-image-bg {
        background-position:center center !important;
    }
}

@include media-breakpoint-up(md) {
    .jumbotron {
        &:first-of-type {
            img {
                position:relative;
                z-index:100;
                right:auto;
                top:auto;
                margin:0 auto;
            }
            .fixed-image-bg {
                background-position: center top;
            }
            .header {
                font-size:2em;
            }
            .container {
                max-width:660px;
                text-align:left !important;
                padding-top:0;
                font-size:1.2em;
            }
            .no-text {
                height:0;
            }
            .no-text-a {
                width:200px;
            }
        }
        &:nth-of-type(2) {
            &:before {
                width: 100vw;
                transform: scale(2.2, 0.4) translateY(225px);
                -webkit-mask-position: bottom center
            }
            .container {
                max-width:660px;
                font-size:1.2em;
                top:-150px;
            }
            iframe {
                margin:0 auto;
                width:400px;
                height:250px;
            }
            #secondaryText {
                width: 436px;
                margin-left: auto;
                margin-top: -100px !important
            }
        }
        
    }
    .mask-transition {
        -webkit-mask-image: url('../assets/images/bg-02-mask-desktop.svg');
    }

    button {
        width:400px !important;
        margin:0 auto;
    }
}